<section class="profile-section">
        <div class="profile-left">
            <h2>John Doe</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo blanditiis facere nesciunt eius amet earum, nam deleniti, at iste provident voluptatum suscipit tenetur! Reiciendis, perferendis commodi! Impedit animi exercitationem incidunt!
            Odit beatae pariatur id dolore labore vero. Labore, ipsum. Molestias, sunt inventore ullam nulla laboriosam quasi. Amet, adipisci repudiandae blanditiis, beatae ratione non commodi ullam nulla, error aperiam tenetur illo.
            Aliquid impedit suscipit aut ipsum, iste qui deleniti, doloremque reiciendis autem ut cumque. Perferendis ipsa dolorem nam ipsum non eligendi beatae necessitatibus consequatur? Ex aut unde ipsa eaque doloribus similique!
            Nam fugiat, illo rerum praesentium eius aspernatur error dicta sint harum rem incidunt deserunt! Iste labore atque quod, debitis soluta itaque impedit minima quas! Quaerat mollitia quam adipisci odio laudantium!
            At sapiente neque culpa repudiandae eius veritatis nisi sequi dolorum earum illum ipsum quam maiores expedita praesentium porro, impedit quibusdam! Exercitationem aspernatur facere eos minima molestias perferendis incidunt, sequi expedita?</p>
            <button>Learn More</button>
        </div>
        <div class="profile-right">
            <img src="/images/person.webp" alt="Profile Image">
        </div>
        </section>